<%= provide(:page_title, 'Home') %>

<div id="carousel-example-3" class="carousel slide carousel-fade white-text" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-3" data-slide-to="1"></li>
    <li data-target="#carousel-example-3" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active view hm-black-light">
      <%= image_tag("index_carusel/first.jpg", class: "background-image", alt: "First slide", height: '500', width: '100%') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("index_carusel/second.jpg", class: "background-image", alt: "Second slide", height: '500', width: '100%') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("index_carusel/third.jpg", class: "background-image", alt: "Third slide", height: '500', width: '100%') %>
      <div class="carousel-caption d-none d-md-block">
        <h3 class="h1-responsive flex-item">Get 20% off</h3>
        <p class="flex-item">On selected items</p>
        <a href="#" class="btn btn-outline-white btn-lg flex-item">Shop now</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
